pipeline/Control List Driven Copy.json
{
	"name": "Control List Driven Copy",
	"properties": {
		"activities": [
			{
				"name": "List Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureDBConfig",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LoadDestTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().SQL",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "OnPremSQLQA",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"SQLcode": {
											"value": "@item().SQL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "StagingServer",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"Platform": "Platform",
										"Subplatform": "Subplatform"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Custom1",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "ForEach Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "powershell .\\script.ps1",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorage3",
						"type": "LinkedServiceReference"
					},
					"folderPath": "testlogdata",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "POCLoadData"
		},
		"annotations": [],
		"lastPublishTime": "2020-08-04T17:23:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}